<page>
    <page-header>
        Student list
    </page-header>
    <page-content>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <a (click)="onSelected(user)"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <form-preview *ngIf="selectedUser" [(firstName)]="selectedUser.firstName">
        </form-preview>
    </page-content>
</page>